<section class="content">
      <div class="left-sidebar">
          <app-left-sidebar></app-left-sidebar>
      </div>
      <div class="main-content-rigth-sidear">
          <div class="row">
              <div class="col-12 col-xl-8 col-lg-8 col-md-6 col-sm-12">
                <div class="inner-content">
                 <div class="btn-group btn-group-sm" 
                 role="group" aria-label="Basic example">
  <button type="button" class="btn btn-content btn-active">Most Recent</button>
  <button type="button" class="btn btn-content">Most Boosted</button>
          </div>
          <div class="mt-15">
              <div class="row">
                  <div class="col-12 col-xl-1 col-lg-1 col-md-1 col-sm-1">
                    <img src="../../../assets/image_logos/user-image.png"
                    class="user-image" >
                  </div>
                  <div class="col-12 col-xl-11 col-lg-11 col-md-11 col-sm-11">
                      <div class="card content-card">
                          <div class="card-body padd-0">
                            <textarea type="text" class="card-input"></textarea>
                          </div>
                          <div class="card-footer padd-0">
                            <p class="upload">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                <span class="upload-text">Upload</span>
                            </p>
                            <p class="btn btn-upload">
                              Post
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
          </div>
<!--POST COMMING SECTION-->
<div class="mt-15">
    <div class="row">
        <div class="col-12 col-xl-1 col-lg-1 col-md-1 col-sm-1">
          <img src="../../../assets/image_logos/user-image.png"
          class="user-image" >
        </div>
        <div class="col-12 col-xl-11 col-lg-11 col-md-11 col-sm-11">
            <div class="card content-card">
                <div class="card-header content-card-header ">
                    <h6 class="user-head">
                      Keira Knightley
                    </h6>
                    <h6 class="user-sub-head">
                        Keira Knightley
                      </h6>
                  </div>
                <div class="card-body padd-10">
                   <img src="../../../assets/image_logos/post-image.png"
                   class="post-image"
                   >
                   <h6 class="user-time">
                      7 minutes ago
                    </h6>
                </div>
                <div class="card-footer padd-10 ">
                  <div class="row">
                    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <span class="shared-icon">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                          <span class="shared-icon-text">Boosts</span>
                          <i class="fa fa-share" aria-hidden="true"></i>
                          <span class="shared-icon-text">Share</span>
                          <i class="fa fa-share" aria-hidden="true"></i>
                          <span class="shared-icon-text">Zoom</span>
                      </span>  
                    </div>
                  </div>
                  <!--comment section start-->
                  <div class="mt-15"></div>
                  <div class="row">
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                        <img src="../../../assets/image_logos/user-image.png" 
                        class="comment-user-image">  
                      </div>
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                          <div class="input-group comment-bar">
                              <input 
                              class="form-control py-2 border-right-0 border" 
                              type="search" placeholder="Write a comment...">
                              <span class="input-group-append">
                                  <div class="input-group-text comment-textarea search-icon">
                                    <i class="fa fa-paperclip"></i></div>
                              </span>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
</div>
<!--SECOND POST SECTION-->
<div class="mt-15">
    <div class="row">
        <div class="col-12 col-xl-1 col-lg-1 col-md-1 col-sm-1">
          <img src="../../../assets/image_logos/user-image.png"
          class="user-image" >
        </div>
        <div class="col-12 col-xl-11 col-lg-11 col-md-11 col-sm-11">
            <div class="card content-card">
                <div class="card-header content-card-header ">
                    <h6 class="user-head">
                      Keira Knightley
                    </h6>
                    <h6 class="user-sub-head">
                       For light-readin:"A Cultural History of America Movies" by Robert Sklar (1994)
                      </h6>
                  </div>
                <div class="card-body padd-10">
                   <img src="../../../assets/image_logos/pdf_icon.png"
                   class="post-image-pdf"
                   >
                   <h6 class="user-time">
                      20 minutes ago
                    </h6>
                </div>
                <div class="card-footer padd-10 ">
                  <div class="row">
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <span class="shared-icon">
                          <i class="fa fa-upload" aria-hidden="true"></i>
                          <span class="shared-icon-text">Boosts</span>
                          <i class="fa fa-share" aria-hidden="true"></i>
                          <span class="shared-icon-text">Share</span>
                          <i class="fa fa-share" aria-hidden="true"></i>
                          <span class="shared-icon-text">Zoom</span>
                      </span>  
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <span class="shared-icon float-right">
                            <span class="shared-icon-text">99</span>
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span class="shared-icon-text">4</span>
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </span>  
                      </div>
                  </div>
                  <!--comment section start-->
                  <div class="mt-15"></div>
                  <div class="row">
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                        <img src="../../../assets/image_logos/user-image.png" 
                        class="comment-user-image">  
                      </div>
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                         <p class="comment-user-head margin-0">
                           Peter Freeman <span class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
                         </p>
                         <h6 class="user-time pt-0">
                            20 minutes ago <span class="shared-icon">
                                <span class="shared-icon-text">Boosts</span>
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                &nbsp; 4
                            </span>
                          </h6>
                        </div>
                    </div>
                    <div class="mt-15"></div>
                  <div class="row">
                      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                        <img src="../../../assets/image_logos/user-image.png" 
                        class="comment-user-image">  
                      </div>
                      <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                          <div class="input-group comment-bar">
                              <input 
                              class="form-control py-2 border-right-0 border" 
                              type="search" placeholder="Write a comment...">
                              <span class="input-group-append">
                                  <div class="input-group-text comment-textarea search-icon">
                                    <i class="fa fa-paperclip"></i></div>
                              </span>
                          </div>
                        </div>
                    </div> 
                </div>
              </div>
          </div>
      </div>
</div>          
          <!-- end of inner-content-->
                </div>
              </div>
              <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="right-content-margin">
                    <app-right-sidebar></app-right-sidebar>
                </div> 
                </div>
            </div>
      </div>
    </section>
