  <div class="main-section">
  <div class="header-start">
      <app-header></app-header>
  </div>
  <div class="container">
    <section class="history-search">
        <div class="row">
            <div class="col-12 col-xl-8 col-lg-8 col-md-6 col-sm-12">
              <h6>History of movies</h6>
              <p class="EHU-section">EHU
                 <span class="EHU-vertical-line"></span>
                 <span class="EHU-heading-line">Instructor: Keira Knightley</span></p> 
            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="input-group search-bar">
                    <input 
                    class="form-control py-2 border-right-0 border" 
                    type="search" placeholder="Find">
                    <span class="input-group-append">
                        <div class="input-group-text search-icon"><i class="fa fa-search"></i></div>
                    </span>
                </div>
              </div>
          </div>
    </section> 
  </div>
  <section class="main-content">
      <app-content></app-content>
    </section>
</div>
