
<ul class="nav flex-column left-sidemenu">
    <li class="nav-item left-menuItem">
      <i class="fa fa-search"></i>
      <p class="nav-link">Discuss</p>
    </li>
    <li class="nav-item left-menuItem">
        <i class="fa fa-user"></i>
      <p class="nav-link">Classmates</p>
    </li>
    <li class="nav-item left-menuItem">
        <i class="fa fa-book"></i>
      <p class="nav-link">Library</p>
    </li>
    <li class="nav-item left-menuItem">
        <i class="fa fa-cog"></i>
      <p class="nav-link">Profile</p>
    </li>
  </ul>
