<div class="row">
  <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <h2 class="greeting-user">Hi,User!</h2>
  </div>
</div>
<div class="row">
    <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 padd-0">
       <div class="card">
           <div class="card-body padd-0">
           <div class="float-left">
             <p class="date-head">
              10
             </p>
             <p class="date-day">
               Wednesday,10 April 2013
             </p>
           </div>
              <ul class="calender">
                  <li>
                      Mo
                  </li>
                  <li >
                      Tu
                  </li>
                  <li>
                      Wed
                  </li>
                  <li>
                      Thu
                  </li>
                  <li>
                      Fri
                  </li>
                  <li>
                      sat
                  </li>
                  <li>
                      sun
                  </li>
                </ul>
                <ul class="dates-calender">
                    <li>
                        1
                    </li>
                    <li >
                        2
                    </li>
                    <li>
                        3
                    </li>
                    <li>
                        4
                    </li>
                    <li>
                        5
                    </li>
                    <li>
                        6
                    </li>
                    <li>
                        7
                    </li>
                  </ul>
                  <ul class="seconds-dates-calender">
                      <li>
                          8
                      </li>
                      <li >
                          9
                      </li>
                      <li>
                          10
                      </li>
                      <li>
                          11
                      </li>
                      <li>
                          12
                      </li>
                      <li>
                          13
                      </li>
                      <li>
                          14
                      </li>
                    </ul>
                    <ul class="third-dates-calender">
                        <li>
                            15
                        </li>
                        <li >
                            16
                        </li>
                        <li>
                            17
                        </li>
                        <li>
                            18
                        </li>
                        <li>
                            19
                        </li>
                        <li>
                            20
                        </li>
                        <li>
                            21
                        </li>
                      </ul>
                      <ul class="fourth-dates-calender">
                          <li>
                              22
                          </li>
                          <li >
                              23
                          </li>
                          <li>
                              24
                          </li>
                          <li>
                              25
                          </li>
                          <li>
                              26
                          </li>
                          <li>
                              27
                          </li>
                          <li>
                              28
                          </li>
                        </ul>
                        <ul class="fiveth-dates-calender">
                            <li>
                                29
                            </li>
                            <li >
                                30
                            </li>
                          </ul>
           </div>
           <div class="card-footer padd-0">
             <p class="upcoming-event float-left pl-10">Upcomng Events-Submissions</p>
             <p class="upcoming-event float-right pr-10">Deadline</p>
           </div>
           <div class="card-body padd-0">
<p class="date-submision pl-10">20 April 2013</p>
<div class="full">
    <p class="date-submision-event float-left pl-10">Lorem ipsum</p>
    <p class="date-submision-event float-right pr-10">15:00</p>
    
</div>
<div class="full">
    <p class="date-submision-event float-left pl-10">Dolor sit amet</p>
    <p class="date-submision-event float-right pr-10">22:00</p>
</div>
<p class="date-submision pl-10">23 April 2013</p>
<div class="full">
    <p class="date-submision-event float-left pl-10">consectetur adipisicing elit. </p>
    <p class="date-submision-event float-right pr-10">8:00</p>
</div>

             </div>
             <div class="card-footer padd-0">
                <p class="upcoming-event float-left pl-10">Upcomng Events-Exams</p>
                <p class="upcoming-event float-right pr-10">Deadline</p>
              </div>
              <div class="card-body padd-0">
                  <p class="date-submision pl-10">20 May 2013</p>
                  <div class="full">
                      <p class="date-submision-event float-left pl-10">Math </p>
                      <p class="date-submision-event float-right pr-10">12:30</p>
                  </div>
                  <p class="date-submision pl-10">29 May 2013</p>
                  <div class="full">
                      <p class="date-submision-event float-left pl-10">Histroy </p>
                      <p class="date-submision-event float-right pr-10">10:00</p>
                  </div>
              </div>
              <div class="card-footer"></div>
         </div>
    </div>
  </div>
<div class="mt-15"></div>
<div class="row">
  <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 padd-0">
      <div class="card">
          <div class="card-body padd-0">
            <h2 class="recent-shared">Recently Shared Resource</h2>
            <div class="media media-recent">
                <img src="../../../assets/image_logos/image2.png" 
                class="recent-shared-image" alt="...">
                <div class="media-body">
                  <span class="mt-0 recent-shared-heading">Mauris eu metus a felis tempor. </span>
                </div>
              </div>
              <div class="media media-recent">
                  <img src="../../../assets/image_logos/image (1).png" 
                  class="recent-shared-image" alt="...">
                  <div class="media-body">
                    <span class="mt-0 recent-shared-heading">Praesent id erat et nisl pulvinar volutpat. </span>
                  </div>
                </div>
          </div>
        </div>
  </div>

</div>
    